<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/app.min.css" />
        <title>CSRF Demo - Nhóm CSRF</title>
    </head>
    <body>
        <div
            class="
                flex flex-col
                items-center
                justify-center
                text-gray-700
                border-r-2 border-gray-100
                w-screen
                h-screen
                bg-white
            "
        >
            <div class="flex flex-col bg-white rounded shadow-md p-12 mt-12 border-2 border-gray-100">
                <div class="border-2 rounded-md border-red-500 text-red-500 px-6 py-5">
                    Đã xảy ra lỗi khi thực hiện giao dịch!
                    <div class="font-semibold">Chi tiết: mã xác minh giao dịch không hợp lệ.</div>
                </div>
                <a
                    href="/"
                    class="
                        flex
                        items-center
                        justify-center
                        h-12
                        px-6
                        w-full
                        bg-blue-600
                        mt-8
                        rounded
                        font-semibold
                        text-sm text-blue-100
                        hover:bg-blue-700
                    "
                >
                    Về trang chủ
                </a>
            </div>
        </div>
    </body>
</html>
